{% extends 'adminlte/login.html' %}
{% load bootstrap5 %}

{% block logo %}
<div class="login-logo">
    <a>{% block logo-text %}<b>E</b>diaristas{% endblock logo-text %}</a>
</div>


{% endblock logo %}

{% block login_form %}
{% if validlink %}
<div class="card-primary">
    <div class="card-header">
        <div class="card-title">Criar nova senha</div>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" type="submit">Resetar</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock login_form %}