{% extends 'adminlte/login.html' %}
{% load bootstrap5 %}

{% block logo %}
<div class="login-logo">
    <a>{% block logo-text %}<b>E</b>diaristas{% endblock logo-text %}</a>
</div>


{% endblock logo %}

{% block login_form %}
<div class="card-primary">
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Sucesso!</h4>
            <hr>
            Sua senha foi alterada com sucesso! Clique <a href="logar_usuario">aqui</a> 
            para realizar o login.
        </div>
    </div>
</div>

{% endblock login_form %}